
.skill {
  height: 65vh;
  background-color: #575758;
  display: flex;
  justify-content: center;
  align-items: start;
}

.conteiner {
   width: 80%;
  height: 80px;
 display: flex;
  flex-direction: column;
align-items: center;
  justify-content: space-between;
  margin: auto;
  margin: auto;
}
.title {
  text-align: center;
  margin: 1px 1px 3px 1px;
  font-family:Josefin Sans, sans-serif;
  font-size: 30px;
}
@media(max-width: 620px) {
  .skillsWraper {
    justify-content: center;
    align-items: center;
  }
}
.btn {
  background-color: #555;
  font-family: Josefin Sans, sans-serif;
  color: white;
  font-size: 20px;
  padding: 2% 4%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


@media screen and (max-width:1024px){
.skill {
  height: 30vh;
  background-color: #575758;
  display: flex;
  justify-content: center;
  align-items: start;
}}
@media screen and (max-width:320px){
.skill {
  height: 30vh;
  background-color: #575758;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 100px;
}}
@media screen and (max-width:360px){
.skill {
  height: 30vh;
  background-color: #575758;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
}}
