
.skill {
  min-height: 50vh;
  background-color: #d5f496;
  display: flex;
  justify-content: center;
  align-items: flex-start;


}
.conteiner {
  border: 1px solid;
  width: 80%;
  height: 100px;
 display: flex;
  flex-direction: column;
align-items: center;
  justify-content: space-between;
  margin: auto;
}
.title {
  text-align: center;

}
@media(max-width: 620px) {
  .skillsWraper {
    justify-content: center;
  }
}
.btn {
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 2% 2%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

