
.skill {
  min-height: 50vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.conteiner {
  /*border: 1px solid;*/
  width: 80%;
  height: 80px;
 display: flex;
  flex-direction: column;
align-items: center;
  justify-content: space-between;
  margin: auto;
}
.title {
  text-align: center;
  margin: 1px 1px 40px 1px;
  font-family: 'Alice', serif;
  font-size: 20px;
}
@media(max-width: 620px) {
  .skillsWraper {
    justify-content: center;
    align-items: center;
  }
}
.btn {
  background-color: #555;
  font-family: 'Alice', serif;
  color: white;
  font-size: 18px;
  padding: 2% 2%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

