# see http://help.github.com/articles/ignoring-files/ for more ignoring files

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.evn.development.local
.evn.test.local
.evn.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#.idea/*
/.idea