.main {
  height:86vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
   width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  }
.greeting {
  display: flex;
  flex-direction: column;
    color: white;
}
.greeting span:first-child {
    font-weight: 300;
    font-size: 23px;
    font-family: 'Alice', serif;
}
.greeting span:nth-child(2),
.greeting span:nth-child(2) span{
    font-weight: 700;
    font-stretch: normal;
    font-size: 28px;
    line-height: 1.2;
    font-family: 'Alice', serif;
    position: relative;
    z-index: 0;
    }

h1 {
font-size: 14px;
font-family: 'Open Sans Condensed', sans-serif;;
}
.photo {
height: 300px;
 width: 250px;
  background-color: #dcd7f4;
}
.photo div {
    height: 300px;
    width: 250px;
    background-image:url("samurai.png")
}
.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 15px;
    width: 100%;
    z-index: -4;
    background: #ea548d;
}
@media screen and (max-width:542px){
    .greeting span:nth-child(2) span:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 15px;
        width: 100%;
        z-index: -4;
        background: #ea548d;

}}
@media screen and (max-width: 542px){
    greeting span:nth-child(2),
    .greeting span:nth-child(2) span{
        font-weight: 700;
        font-stretch: normal;
        font-size: 28px;
        line-height: 1.2;
        font-family: 'Alice', serif;
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }}
@media screen and (max-width:353px){
    .greeting span:nth-child(2) span:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 15px;
        width: 58%;
        z-index: -4;
        background: #ea548d;

    }}
@media screen and (max-width:780px){
    .main{
        height: 100vh;
    }
}