.navMenu {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0% 2% 0% 0%;
}
.link{
  text-decoration: none;
  font-size: 16px;
}
@media(max-width: 311px) {
  .link {
    font-size: 14px;
  }
}