.navMenu {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0% 2% 0% 0%;
}
.link{
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: 'Exo 2', sans-serif;
  position: relative;

}
@media(max-width: 257px) {
  link {
    font-size: 60%;
  }
}
