
.skill {
    min-height: 90vh;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    /*border: 1px solid;*/
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Josefin Sans, sans-serif
}

.conteiner .form {
    display: flex;
    flex-direction: column;
  justify-content: space-around;
    }
@media(max-width: 620px) {
    .conteiner .form {
        justify-content: center;
    }
}
.conteiner .button:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    background: #f47a65;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    margin: 0 auto;
}

button {
    box-sizing: border-box;
    overflow: visible;
    -webkit-appearance: button;
    color: #f3ffff;
    vertical-align: middle;
    user-select: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    display: block;
    font: 400 12px/1.2 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 12px 30px;
    transition: all 0.8s ease-in-out 0s;
    background: transparent;
    max-width: 200px;
    margin: 20px auto;
    z-index: 22;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    position: relative;
    border: 2px solid #5ec5e1;
    cursor: pointer;
    visibility: visible;
    animation-delay: 0.3s;
    animation-name: fadeInUp;
   box-shadow: 0 0 10px rgba(94, 197, 225, 0.5);
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.form input{
    width: 100%;
    margin-bottom: 1%;
    height: 3vh;
    background-color: #dcd7f4;
}
.form textarea{
    height: 80%;
    width: 100%;
    background-color: #dcd7f4;
}
.text_contact {
    font-family:Josefin Sans, sans-serif;
}
@media(max-width: 414px) {
.form input{
    width: 150%;
    margin-bottom: 1%;
    height: 3vh;
}}
@media(max-width: 414px) {
    .form textarea{
        height: 100%;
        width: 150%;
}}