
.skill {
    min-height: 90vh;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactSpan{
    font-family: Josefin Sans, sans-serif;
    font-size: 30px;
    padding-bottom: 30px;
}

.container {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Josefin Sans, sans-serif
}

.container .form {
    display: flex;
    flex-direction: column;
  justify-content: space-around;
    }
@media(max-width: 620px) {
    .conteiner .form {
        justify-content: center;
    }
}
.container .button:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    background: #f47a65;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    margin: 0 auto;
}

.wrapper{
    width:150px;
    margin: 5px auto;
}
.btn{
    font-family: Josefin Sans, sans-serif;
    font-size: 18px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    position: relative;
    margin: 1px;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
svg rect{
    width:100%;
    height: 100%;
    fill:transparent;
    stroke: #5ec5e1;
    stroke-width: 5px;
    stroke-dasharray: 10px 130px 20px 30px 20px 130px 20px 30px 10px;
    transition: .5s all;
}
.btn:hover rect{
    stroke-dasharray:120px 0 40px 0 120px 0 40px 0;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.form input{
    width: 100%;
    margin-bottom: 1%;
    height: 3vh;
    background-color: #dcd7f4;
}
.form textarea{
    height: 80%;
    width: 100%;
    background-color: #dcd7f4;
}
.text_contact {
    font-family:Josefin Sans, sans-serif;
}
@media(max-width: 414px) {
.form input{
    width: 150%;
    margin-bottom: 1%;
    height: 3vh;
}}
@media(max-width: 414px) {
    .form textarea{
        height: 100%;
        width: 150%;
}}