.headerBox {
  min-height: 60px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0.7;

}
.headerContainer {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
