.skill {
  min-height: 25vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
   width: 80%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  font-size: 16px;
}

.title {
  text-align: center;
}
.socialContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 1%;
}
.socialContainer div:nth-child(1){
  width: 35px;
  height: 35px;
  margin: 1px 5px 1px 1px;
background-image: url("inst.png");
}
.socialContainer div:nth-child(2){
  width: 35px;
  height: 35px;
  margin: 1px 5px 1px 1px;
background-image: url("em.png");
}
.socialContainer div:nth-child(3){
  width: 35px;
  height: 35px;
  margin: 1px 5px 1px 1px;
background-image: url("viber.png");
}
.socialContainer div:nth-child(4){
  width: 35px;
  height: 35px;
  margin: 1px 5px 1px 1px;
background-image: url("whatsapp.png");
}


.prava {
  font-size: 10px;
}
