.skill {
  background-color: #252527;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
}
.icon {
     width: 80px;
     height: 80px;
   }


.title {
  text-align: center;
  font-weight: bold;
  font-family: 'Alice', serif;
  color: rgba(31, 31, 32, 0.09);
  font-size: 20px;
  color: white;

}
.description{
  margin: 10px;
  font-weight: bold;
  font-family: 'Alice', serif;
  text-align: justify;
  word-wrap:inherit;
  color: #b2b2b5;
}
