
.skills {
  height: 140vh;
  background-color: #181819;
  display: flex;
  justify-content: center;
  align-items: center;

}
.wrapper {
   width: 80%;
   height: 70%;
  display: flex;
  justify-content: center;
    flex-direction: column;
 }
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
   }


.title span {
 font-family: Josefin Sans, sans-serif;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px 30px;
  font-size: 30px;
   box-sizing: border-box;
    padding-block-end: 50px;

}
.skillsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3px;
}

@media(max-width: 962px) {
.skills {
    height: 200vh;
    background-color: #181819;
    display: flex;
    justify-content: center;
    align-items: center;

}}
@media(max-width: 645px) {
.skills {
    height: 160vh;
    background-color: #181819;
    display: flex;
    justify-content: center;
    align-items: center;
}}
@media(max-width: 620px) {
.skills {
    height: 280vh;
    background-color: #181819;
    display: flex;
    justify-content: space-around;
    align-items: center;
}}
@media(max-width: 620px) {
.skillsWrapper {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3px;
}}
@media(min-width: 938px) {
    .skills {
        height: 140vh;
        background-color: #181819;
        display: flex;
        justify-content: center;
        align-items: center;

    }}