
.skills {
  min-height: 100vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
  align-items: center;
    padding: 6px 3px 6px 3px;
}
.wrapper {
   /*border: 1px solid;*/
   width: 80%;
   height: 70%;
  display: flex;
  justify-content: center;
    flex-direction: column;
 }


.title span {
  /*border: 1px solid;*/
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px 30px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
   box-sizing: border-box;
}
.skillsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3px;
}
.paddings_one{
    padding: 3px;
}
@media(max-width: 643px) {
    .skillsWrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
}
.title span:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 15px;
    width: 100%;
    z-index: -4;
    background: #ea548d;

}
