.skills {
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wrapper {
    /*border: 1px solid;*/
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.title {
     width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-block-end: 50px;
    font-family: Josefin Sans, sans-serif;
    font-size: 30px;
    box-sizing: border-box;

}
.skillsWraper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

/*!*@media(min-width: 784px) {*!*/
/*!*    .skillsWraper {*!*/
/*!*        justify-content: space-around;*!*/
/*!*        align-items: center;*!*/
/*!*        display: flex;*!*/
/*!*  *!*/


/*    }*/
/*}*/
@media(max-width: 624px) {
    .skills {
        justify-content: space-around;
        align-items: center;
        display: flex;
        padding: 80px 80px;
        height: 250vh;

    }
}
/*@media(min-width: 1046px) {*/
/*    .skills {*/
/*        justify-content: space-around;*/
/*        align-items: center;*/
/*        display: flex;*/
/*        padding: 80px 80px;*/
/*        height: 70vh;*/
/*    }*/
/*}*/
/*@media(min-width: 1024px) {*/
/*    .skills {*/
/*        justify-content: space-around;*/
/*        align-items: center;*/
/*        display: flex;*/
/*        padding: 80px 80px;*/
/*        height: 80vh;*/
/*    }*/
/*}*/
@media(min-width: 625px) {
    .skills {
        justify-content: center;
        align-items: center;
        display: flex;

        height: 200vh;
    }
}@media(min-width: 938px) {
    .skills {
        justify-content: center;
        align-items: center;
        display: flex;

        height: 150vh;
    }
}

