
.skills {
    min-height: 100vh;
    background-color: #252527;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    /*border: 1px solid;*/
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
}
.title {
    /*border: 1px solid;*/
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 30px;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
.skillsWraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media(max-width: 620px) {
    .skillsWraper {
        justify-content: center;
    }
}