.skill {
    background-color: #252527;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px 35px 20px 20px;
}
.icon {
    width: 250px;
    height: 250px;
    background-color: #252527;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 3% 3%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Exo 2', sans-serif;
}

.icon.btn:hover {
    background-color: black;
}
.title{
    color: #c3c3c3;
    font-weight: bold;
    padding-top: 25px;
    font-family: 'Alice', serif;
    font-size: 20px;
}
.description {
    color: #555555;
    font-weight: bold;
    font-family: 'Alice', serif;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}