.skill {
    background-color: #e4e4e4;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 0px 0px 35px 0px;
  }

.project1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 0px 0px 35px 0px;
    padding-top: 10px;
}

.icon {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 20px;
    background-color: #d7d7d8;
}
.containerSpan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: inherit;
}

.btn {
    display: flex;
    justify-content: center;
    font-style: italic;
    align-items: center;
    text-transform: uppercase;
    color: #252527;
    font-size: 16px;
    padding: 5% 7%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    font-family: Josefin Sans, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 3px black, 0 0 2em #c1c1c3;
}


.title{
    color: #5fa8d5;
    font-weight: bold;
    padding-top: 25px;
    font-family: Josefin Sans, sans-serif;
    font-size: 22px;
    text-transform: uppercase;

}

.description {
    color: #fff6e6;
    font-weight: bold;
    font-family: Josefin Sans, sans-serif;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    width: 70%;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    word-wrap: inherit;
    border-top: 2px solid;
    padding-top: 7px;

}
.centerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
@media (max-width:1374px){
    .project1{
        display: flex;
        flex-wrap: wrap;
    }
}@media (max-width:1374px){
    .description{
    width: 50%;
    }
}
