.mainBox {
    min-height: 115vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: auto;
    height: 3200px;
    z-index: -1;
}
.mainContainer {
   width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  }
.greeting {
  display: flex;
  flex-direction: column;
    color: white;
    padding-bottom: 50px;
}
.greeting span:first-child {
    font-weight: 400;
    font-size: 25px;
    font-family:Poppins serif;
}
.greeting span:nth-child(2),
.greeting span:nth-child(3) span{
    font-weight: 700;
    font-size: 30px;
    font-family:Josefin Sans, sans-serif;
    letter-spacing: 5px;
}
.greeting span:nth-child(2),
.greeting span:nth-child(2) span{
    font-weight: 700;
    font-stretch: normal;
    font-size: 30px;
    line-height: 1.2;
    font-family: Josefin Sans, sans-serif;
    position: relative;
    z-index: 0;

    }
.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 15px;
    width: 100%;
    z-index: -4;
    background: #ea548d;
}
h1 {
font-size: 20px;
font-family:Poppins, sans-serif;
    font-weight: 400;
}
.mainPhoto{
    position: relative;
    z-index: 1;
    margin-top: 50px;
}
.mainPhoto div {
height: 400px;
 width: 300px;
  background-color: #dcd7f4;
}

.mainPhoto div:before{
    content: "";
    position: absolute;
    height: 430px;
    width: 300px;
    border: 5px solid #ea548d;
    left: 15px;
    top: -20px;
    z-index: -1;
}

@media screen and (max-width: 542px){
    greeting span:nth-child(2),
    .greeting span:nth-child(2) span{
        font-weight: 700;
        font-stretch: normal;
        font-size: 28px;
        line-height: 1.2;
        font-family:Josefin Sans, sans-serif;
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }}
@media screen and (max-width:931px){
.greeting {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    padding: 10px;
}}
@media screen and (max-width:1190px){
    .greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    width: 0;
    z-index: -4;
    background: #ea548d;
}}
@media screen and (max-width:965px){
.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;

}}
@media screen and (max-width:375px){
.mainBox {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}}
@media screen and (max-width:320px){
.mainBox {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}}
@media screen and (min-width:1024px){
.mainBox {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}}
@media screen and (min-width:768px){
.mainBox {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}}