body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: 'Alice', serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-family: 'Exo 2', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
