.navMenu a{
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0% 2% 0% 0%;
  color:white;
  text-decoration: none;
  font-size: 1.25em;
}
.navMenu{
  display: flex;
}

@media screen and (max-width:500px) {
  а{
    min-width: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0% 2% 0% 0%;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
  }
}
.link {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: Josefin Sans, sans-serif;
  position: relative;
  margin-left: 40px;
  scroll-behavior:smooth;
}

.activeLink{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: Josefin Sans, sans-serif;
  position: relative;
  margin-left: 30px;
  scroll-behavior:smooth;
}

